.reveal {
  font-size: 26pt;
  color: white;
}

.reveal h1{
  color: DarkCyan;
}

.reveal h2{
  font-weight: 300;
  color: #00AAC4;
  text-decoration: underline;
}

.reveal h3{
  color: Cyan;
}

.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
  }

body{
  background: black;
  color: white;
}

ol{
  font-style: normal;
}

a:link,
a:visited{
  color: cyan;
}

.white-titles { 
  color: white; 
} 

.table{
  border-collapse: collapse;
}
