.reveal {
  font-size: 26pt;
  font-family: 'Expressway', sans-serif;
  color: white;
}

.reveal h1{
  color: DarkCyan;
}

.reveal h2{
  font-weight: 300;
  color: #00AAC4;
  text-decoration: none;
}

.reveal h3{
  color: Cyan;
}

.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
  }

body{
  background: black;
  color: #F0F0F0;
  font-family: "Lucida Console", "Courier New", monospace;
}

ol{
  font-style: normal;
}

a:link,
a:visited{
  color: cyan;
}

.white-titles { 
  color: white; 
} 

.table{
  border-collapse: collapse;
}

slides > slide {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.small-code pre code {
  font-size: 1em;
  color: #F0F0F0;
}

pre {
  max-height: 600px;
  max-width: 1200px;
  overflow-y: auto;
  overflow-x: auto;
  color: #F0F0F0;
}



.slide-background:first-child {
  background-image: tv_debatt.png;
}

.upper-right-logo {
  margin-top: 20px;
  background-image: url("horing.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

h2.author {
  text-decoration: none;
}

